$gameboard_normal: #080;
$gameboard_highlight: #4a4;

.field {
  padding: 10px;
  display: block;
  position: relative;
  width: 480px;
  height: 480px;
.CellLine {
    position: relative;
    .Cell {
      position: absolute;
      background: $gameboard_normal;
      width: 58px;
      height: 58px;
      @import './CellStone.scss';
      &:hover {
        background: $gameboard_highlight;
      }
    }
  }
}
