$stone_black: black;
$stone_black_maybe: #333;
$stone_white: white;
$stone_white_maybe: #ccc;

.stone {
  position: absolute;
  left:0;right:0;top:0;bottom:0;
  margin: auto;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background: rgba(0,0,0,0);

  &.white {
    background: $stone_white;
    &.truning {
      animation: turningWBAnime;
      animation-duration: .7s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
  }
  &.black {
    background: $stone_black;
    &.truning {
      animation: turningBWAnime;
      animation-duration: .7s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
  }
  @keyframes turningBWAnime {
    from {
      background: $stone_black;
    }
    to {
      background: $stone_white;
    }
  }
  @keyframes turningWBAnime {
    from {
      background: $stone_white;
    }
    to {
      background: $stone_black;
    }
  }
}
.stonable {
  position: absolute;
  left:0;right:0;top:0;bottom:0;
  margin: auto;
  background: rgba(0,0,0,0);

  &.reserved {
    width: 48px;
    height: 48px;
    border-radius: 24px;

    animation-name: flashingAnime;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    opacity:0;
    &.can_white {
      background: $stone_white;
    }
    &.can_black {
      background: $stone_black;
    }
  }
  &.suggestion {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: $stone_white;
    &.can_white {
      background: $stone_white;
    }
    &.can_black {
      background: $stone_black;
    }
  }
  @keyframes flashingAnime {
    from {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
